<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> page HTML</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<form th:action="@{add}" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="age">Age</label>
    <input type="text" name="age" id="age">

    <label for="password">Password</label>
    <input type="text" name="password" id="password">

    <select multiple name="roleId" size="2">
        <option value="ROLE_ADMIN">ADMIN</option>
        <option value="ROLE_USER">USER</option>
    </select>

    <input type="submit" value="Add new user">

</form>

</body>
</html>