<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>

<!-- header -->
<nav class="navbar text-light bg-dark" style="margin-bottom:1%">
    <div class="col-11" id="jsheader">
        <span style="padding-left: 5px; padding-right: 5px;">with roles:</span>
    </div>
    <div class="col-1">
        <a th:href="@{/logout}" class="float-right text-muted">Logout</a>
    </div>
</nav>


<div class="row">
    <!-- left navigation -->
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true" style="text-indent: 10px;">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false" style="text-indent: 10px;">User</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">

                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <!-- admin tab -->
                    <li class="nav-item">
                        <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true">Users table</a>
                    </li>
                    <!-- user tab -->
                    <li class="nav-item">
                        <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">New user</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- admin workspace -->
                    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                        <h4>All users</h4>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="jstable">

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add">
                        <h3>Add new user</h3>

                        <!-- add new user form -->
                        <div class="font-weight-bold text-center" style="margin-left:auto; margin-right:auto; max-width:385px; ">
                            <form id="js_form_add">

                                <div class="form-group">
                                    <label for="firstname" style="margin-bottom: -10px">First name</label>
                                    <input type="text" name="name" id="firstname" class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" style="margin-bottom: -10px">Last name</label>
                                    <input type="text" name="lastName" id="lastname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="age" style="margin-bottom: -10px">Age</label>
                                    <input type="number" name="age" id="age" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" style="margin-bottom: -10px">Email</label>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" style="margin-bottom: -10px">Password</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="select" style="margin-bottom: -10px">Role</label>
                                    <select multiple name="roles" id="select" class="form-control" size="2">
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_USER">USER</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- user workspace -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                <h1>User information-page</h1>

                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="user-tab">
                    <h4>About user</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="js_user_info_table">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- modal window edit user-->
<div class="modal fade" id="js_modal_edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form style="font-weight: bold;" class="text-center" id="js_form_edit">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="js_edit_user_id" class="col-form-label">ID</label>
                        <input type="text" name="id" class="form-control" id="js_edit_user_id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="js_edit_user_firstname" class="col-form-label">First name</label>
                        <input type="text" name="name" class="form-control" id="js_edit_user_firstname">
                    </div>
                    <div class="form-group">
                        <label for="js_edit_user_lastname" class="col-form-label">Last name</label>
                        <input type="text" name="lastName" class="form-control" id="js_edit_user_lastname">
                    </div>
                    <div class="form-group">
                        <label for="js_edit_user_age" class="col-form-label">Age</label>
                        <input type="number" name="age" class="form-control" id="js_edit_user_age">
                    </div>
                    <div class="form-group">
                        <label for="js_edit_user_email" class="col-form-label">Email</label>
                        <input type="text" name="email" class="form-control" id="js_edit_user_email">
                    </div>
                    <div class="form-group">
                        <label for="js_edit_user_password" class="col-form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="js_edit_user_password">
                    </div>
                    <div class="form-group">
                        <label for="edit_select">Role</label>
                        <select multiple name="roles" id="edit_select" class="form-control" size="2">
                            <option value="ROLE_ADMIN" name="role">ADMIN</option>
                            <option value="ROLE_USER" name="role">USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="js_close_edit">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- modal window delete user-->
<div class="modal fade" id="js_modal_delete"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="font-weight: bold;" class="text-center" id="js_form_delete">
                    <div class="form-group">
                        <label for="js_delete_id" class="col-form-label">ID</label>
                        <input type="text" class="form-control" name="id" id="js_delete_id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="js_delete_firstname" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="js_delete_firstname" readonly>
                    </div>
                    <div class="form-group">
                        <label for="js_delete_lastname" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="js_delete_lastname" readonly>
                    </div>
                    <div class="form-group">
                        <label for="js_delete_age" class="col-form-label">Age</label>
                        <input type="number" class="form-control" id="js_delete_age" readonly >
                    </div>
                    <div class="form-group">
                        <label for="js_delete_email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="js_delete_email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="delete_select" class="col-form-label">Role</label>
                        <select multiple name="roles" id="delete_select" class="form-control" size="2">
                            <option value="ROLE_ADMIN" name="role">ADMIN</option>
                            <option value="ROLE_USER" name="role">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="js_close_delete">Close</button>
                <button type="submit" class="btn btn-danger" form="js_form_delete">Delete</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

    //функция добавления пользователя в таблицу
    function addUserToTable(user, tableName) {
        var tableRef = document.getElementById(tableName);
        var newRow = tableRef.insertRow(tableRef.rows.length);
        newRow.setAttribute("id","js_edit_" + user.id);

        var newCell = newRow.insertCell(0);
        var newText = document.createTextNode(user.id);
        newCell.appendChild(newText);

        var newCell = newRow.insertCell(1);
        var newText = document.createTextNode(user.name);
        newCell.appendChild(newText);

        var newCell = newRow.insertCell(2);
        var newText = document.createTextNode(user.lastName);
        newCell.appendChild(newText);

        var newCell = newRow.insertCell(3);
        var newText = document.createTextNode(user.age);
        newCell.appendChild(newText);

        var newCell = newRow.insertCell(4);
        var newText = document.createTextNode(user.email);
        newCell.appendChild(newText);

        var newCell = newRow.insertCell(5);
        for (var j = 0; j < user.roles.length; j++) {
            var newText = document.createTextNode(user.roles[j].shortRole + " ");
            newCell.appendChild(newText);
        }

        if("jstable" == tableName) {
            var newCell = newRow.insertCell(6);
            var a = document.createElement('a');
            var linkText = document.createTextNode("Edit");
            a.appendChild(linkText);
            a.classList.add("btn", "btn-info", "text-light");
            a.setAttribute("data-toggle", "modal");
            a.setAttribute("data-target", "#js_modal_edit");
            a.setAttribute("data-id", user.id);
            newCell.appendChild(a);

            var newCell = newRow.insertCell(7);
            var a = document.createElement('a');
            var linkText = document.createTextNode("Delete");
            a.appendChild(linkText);
            a.classList.add("btn", "btn-danger", "text-light");
            a.setAttribute("data-toggle", "modal");
            a.setAttribute("data-target", "#js_modal_delete");
            a.setAttribute("data-id", user.id);
            newCell.appendChild(a);
        }
    }

    // событие удаления пользователя из таблицы
    document.getElementById('js_form_delete').addEventListener('submit', function (e) {

        e.preventDefault();

        const formData = new FormData(this);

        let urlDelete = "http://localhost:8080/delete/" + formData.get("id");

        fetch(urlDelete, {
            method: 'delete'
        })
            .catch(err => {
                console.error('Error: ', err);
            });

        // вынесение данных из таблицы
        $('#js_edit_' + formData.get("id")).remove();

        $('#js_close_delete').click();
    });

    // событие редактирования пользователя в таблице
    document.getElementById('js_form_edit').addEventListener('submit', function (e) {

        e.preventDefault();

        const formData = new FormData(this);

        var object = {};
        let roles = [];
        formData.forEach((value, key) => {
            if(key == "roles") {
                roles[roles.length] = { role: value }
            } else {
                object[key] = value;
            }
        });
        object["roles"] = roles;
        var json = JSON.stringify(object);

        fetch("http://localhost:8080/users/" + object["id"], {
            method: 'put',
            body: json,
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response=>response.json())
            .then(user=>{
                // обновление данных в таблице с использованием ответа сервера
                $('#js_edit_' + user.id).find("td:nth-child(2)").html(user.name);
                $('#js_edit_' + user.id).find("td:nth-child(3)").html(user.lastName);
                $('#js_edit_' + user.id).find("td:nth-child(4)").html(user.age);
                $('#js_edit_' + user.id).find("td:nth-child(5)").html(user.email);
                let rolesEdit ="";
                for (var j = 0; j < user.roles.length; j++) {
                    rolesEdit += user.roles[j].shortRole + " ";
                }
                $('#js_edit_' + user.id).find("td:nth-child(6)").html(rolesEdit);

                // обновление данных в таблице без использования ответа сервера
                // $('#js_edit_' + object["id"]).find("td:nth-child(2)").html(object["name"]);
                // $('#js_edit_' + object["id"]).find("td:nth-child(3)").html(object["lastName"]);
                // $('#js_edit_' + object["id"]).find("td:nth-child(4)").html(object["age"]);
                // $('#js_edit_' + object["id"]).find("td:nth-child(5)").html(object["email"]);
                // let rolesEdit ="";
                // for (let i = 0; i < object["roles"].length; i++) {
                //     rolesEdit += object["roles"][i].role.substring(5, object["roles"][i].role.length) + " ";
                // }
                // $('#js_edit_' + object["id"]).find("td:nth-child(6)").html(rolesEdit);
            })
            .catch(err => {
                console.error('Error: ', err);
            });
        $('#js_close_edit').click();
    });

    // добавление пользователя в таблицу
    document.getElementById('js_form_add').addEventListener('submit', function (e) {

        e.preventDefault();

        const formData = new FormData(this);

        var object = {};
        let roles = [];
        formData.forEach((value, key) => {
            if(key === "roles") {
                roles[roles.length] = { role: value }
            } else {
                object[key] = value;
            }
        });
        object["roles"] = roles;
        var json = JSON.stringify(object);

        var newUser = fetch("http://localhost:8080/add", {
            method: 'post',
            body: json,
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response=>response.json())
            .then(user=>{
                addUserToTable(user, "jstable");
            })
            .catch(err => {
                console.error('Error: ', err);
            });

        //показать вкладку с таблицей
        var someTabTriggerEl = document.querySelector('#admin-tab')
        var tab = new bootstrap.Tab(someTabTriggerEl)
        tab.show();

    });

    // показать информацию о пользователе
    $('#v-pills-user-tab').click(function () {
        const urlCurrentUser = 'http://localhost:8080/current';
        fetch(urlCurrentUser)
            .then(res => res.json())
            .then(currentUser => {
                var userInformationPageTable = document.getElementById("js_user_info_table");

                $(userInformationPageTable).empty();
                addUserToTable(currentUser, "js_user_info_table");
            })
            .catch(err => {
                console.error('Error: ', err);
            });
    })

    //событие на открытие модального окна удаления пользователя
    $('#js_modal_delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('id') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#js_delete_id').val(recipient);

        const urlUserId = 'http://localhost:8080/users/' + recipient;
        fetch(urlUserId)
            .then(res => res.json())
            .then(user => {
                modal.find('#js_delete_firstname').val(user.name);
                modal.find('#js_delete_lastname').val(user.lastName);
                modal.find('#js_delete_email').val(user.email);
                modal.find('#js_delete_age').val(user.age);
            })
            .catch(err => {
                console.error('Error: ', err);
            });
    })

    //событие на открытие модального окна редактирования пользователя
    $('#js_modal_edit').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('id') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#js_edit_user_id').val(recipient);

        const urlUserId = 'http://localhost:8080/users/' + recipient;
        fetch(urlUserId)
            .then(res => res.json())
            .then(user => {
                modal.find('#js_edit_user_firstname').val(user.name);
                modal.find('#js_edit_user_lastname').val(user.lastName);
                modal.find('#js_edit_user_email').val(user.email);
                modal.find('#js_edit_user_age').val(user.age);
                modal.find('#js_edit_user_password').val(user.password);
            })
            .catch(err => {
                console.error('Error: ', err);
            });
    })

    // заполняем таблицу и заголовок при стартовой загрузке страницы
    $(document).ready(function() {
        // добавляем в заголовок email и добавляем роли
        const urlCurrentUser = 'http://localhost:8080/current';
        fetch(urlCurrentUser)
            .then(res => res.json())
            .then(currentUser => {
                var header = document.getElementById("jsheader");

                var spanEmail = document.createElement('span');
                spanEmail.innerHTML = currentUser.email;
                header.insertBefore(spanEmail, header.firstChild);

                for(var i = 0; i < currentUser.roles.length; i++) {
                    var spanRoles = document.createElement('span');
                    spanRoles.innerHTML = currentUser.roles[i].shortRole;
                    spanRoles.setAttribute("style", "padding-right: 5px;");
                    header.appendChild(spanRoles);
                }
            })
            .catch(err => {
                console.error('Error: ', err);
            });

        // заполнение таблицы
        const urlUsers = 'http://localhost:8080/users';

        fetch(urlUsers)
            .then(res => res.json())
            .then(data => {
                data.map((user) => {
                    addUserToTable(user, "jstable");
                });
            })
            .catch(err => {
                console.error('Error: ', err);
            });
        });

</script>

</body>
</html>